@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger center">Ooops something went wrong!.</h1>
<h2 class="text-danger center">An error occurred while messing with us!.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Your requested ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>What next?</h3>
<p>
    Please call Telerik Academy for further information about this error!
</p>
