@model StoreSystem.Web.Models.ClientViewModels.ClientCUViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UIN" class="control-label"></label>
                <input asp-for="UIN" class="form-control" />
                <span asp-validation-for="UIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class="form-control" asp-items="ViewBag.Addresses" id="addressNameSelect"></select>
                <button type="button" class="btn btn-outline-info btn-sm" id="createAddressBtn">Add address</button>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.Cities" id="cityNameSelect"></select>
                <button type="button" class="btn btn-outline-info btn-sm" id="createCityBtn">Add city</button>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries" id="countryNameSelect"></select>
                <button type="button" class="btn btn-outline-info btn-sm" id="createCountryBtn">Add country</button>
            </div>
            <div class="form-group">
                <label asp-for="StoreUserId" class="control-label"></label>
                <select asp-for="StoreUserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*
    Button id for address = createAddressBtn
    Button id for city = createCityBtn
    Button id for country = createCountryBtn

    Select id for address = addressNameSelect
    Select id for city = cityNameSelect
    Select id for country = countryNameSelect

    partial view add: _ModalAddressCreator
    js script add: ModalAddressCreator.js
*@

@{await Html.RenderPartialAsync("_ModalAddressCreator");}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ModalAddressCreator.js"></script>
}
